
# hw1

# hw2

hw2_phoneme_classification/libriphone

# hw3
hw3_image_classification/food11
hw3_image_classification/*.ckpt
hw3_image_classification/*.zip

# hw4
hw4_speaker_identification/Dataset
hw4_speaker_identification/*.ckpt
hw4_speaker_identification/*.gz*

# hw5
hw5_machine_translation/checkpoints
hw5_machine_translation/DATA
hw5_machine_translation/fairseq

# hw6
hw6_anime_face_renegation/style_gan
hw6_anime_face_renegation/output
hw6_anime_face_renegation/logs
hw6_anime_face_renegation/*.pkl
hw6_anime_face_renegation/checkpoints
hw6_anime_face_renegation/faces
hw6_anime_face_renegation/results

# hw8
hw8_anomaly_detection/*.pt
hw8_anomaly_detection/data

# hw9
hw9_explainable_ai/*.pth
hw9_explainable_ai/hw9_bert
hw9_explainable_ai/*.ttf

# hw10
hw10_attack/*.tgz
hw10_attack/mifgsm
hw10_attack/ifgsm
hw10_attack/fgsm
hw10_attack/data

# hw11
hw11_domain_adaptation/*.csv
hw11_domain_adaptation/*.bin
hw11_domain_adaptation/real_or_drawing

# hw15
hw15_meta_learning/*.tar.gz
hw15_meta_learning/Omniglot
hw15_meta_learning/Omniglot-test
hw15_meta_learning/*.csv





